{% extends 'base.html' %}

{% block content %}
    <h2>Listado de Productos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Foto</th>
            <th>Cantidad</th>
            <th>Subcategoria</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td><img src="{{ producto.foto.url }}" alt="{{ producto.nombre }}" height="100"></td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.subcategoria.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'crear_producto' %}">Agregar nuevo producto</a>
{% endblock %}